@charset "utf-8";

@background-color: #F3F3F4;
@font-color: #858585;
@green: #5FBA47;
@orange: #FCB040;
@person-background: #F1592A;

/* Application Styles */

* {
    box-sizing: border-box;
}

body {
    background: @background-color;
    color: @font-color;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

header {
    display: block;
    padding: 20px;
    margin-bottom: 15px;

    img {
        width: 100%;
        border-bottom: 1px solid @font-color;
    }
}

.row-container {
    display: block;
    width: 100%;

    .row {
        display: block;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;

        #count-container {
            font-size: 40px;
            color: @green;
        }

        #count-container.stopped {
            color: @font-color;
        }

        #elapsed-time {
            font-size: 36px;
        }

        #elapsed-time.stopped {
            color: @orange;
        }

        .entries {
            width: 300px;
            margin: 0 auto;
            padding: 5%;
            font-size: 12px;
            color: #FFFFFF;
        }

        .entries li {
            position: relative;
            float: left;
            width: 42px;
            height: 42px;
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 42px;
            background: @person-background url("/images/rate-x.png") no-repeat bottom center;
            background-size: 8px;
            background-position: 17px 30px;
            border-radius: 21px;
            cursor: pointer;
        }

        form {
            width: 286px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        input {
            padding: 5px;
            border: 0;
            background: @background-color;
            border-bottom: 1px solid @font-color;
            text-align: center;
        }

        button.stop-timer.stopped,
        img.money-top-icon.stopped,
        img.time-icon.stopped {
            display: none;
        }

        img.people-icon,
        img.time-icon,
        img.money-top-icon {
            display: block;
            width: 23px;
            height: 23px;
            margin: 20px auto;
        }

        img.money-icon {
            float: left;
            width: 23px;
            height: 23px;
            margin-top: 5px;
        }

        button.add-btn {
            width: 35px;
            height: 35px;
            border: 0;
            background: url( "/images/ic_add.png" ) no-repeat;
            background-size: cover;
            text-indent: 999999px;
        }

        .paused-controls {
            width: 246px;
            margin: 0 auto;
        }

        button.start-timer,
        button.stop-timer {
            display: block;
            width: 123px;
            height: 123px;
            margin: 0 auto;
            border: 0;
            text-indent: 99999px;
            background: url( "/images/ic_control_start.png" ) no-repeat;
            background-size: cover;
        }

        button.reset-timer,
        button.start-timer-resume {
            display: block;
            float: left;
            width: 123px;
            height: 123px;
            margin: 0 auto;
            border: 0;
            text-indent: 99999px;
        }

        button.reset-timer {
            background: url( "/images/ic_control_reset.png" ) no-repeat;
            background-size: cover;
        }

        button.stop-timer {
            background: url( "/images/ic_control_pause.png" ) no-repeat;
            background-size: cover;
        }

        button.start-timer-resume {
            background: url( "/images/ic_control_start.png" ) no-repeat;
            background-size: cover;
        }

    }
}
