<div class="row-container">
    <div class="row">

        <p data-ng-hide="meetingStarted">Who's getting clocked?</p>
        <p data-ng-show="meetingStarted" data-ng-class="{'stopped' : stopped }" >Budget's getting clocked</p>
        <p data-ng-show="stopped">Clock'n has been paused</p>

        <img data-ng-hide="meetingStarted" class="people-icon" src="/images/ic_people.png" alt="">

        <ul class="entries clearfix" data-ng-hide="meetingStarted">
            <li data-ng-repeat="entry in entries" data-ng-click="removeRate(entry)">
                {{entry.rate}}
            </li>
        </ul>

        <img data-ng-show="meetingStarted" data-ng-class="{'stopped' : stopped }"  class="money-top-icon" src="/images/ic_money_on.png" alt="">
        <img data-ng-show="stopped" class="money-top-icon" src="/images/ic_money.png" alt="">

        <div class="dollar-counter" data-ng-show="meetingStarted">
            <div id="count-container" data-ng-class="{'stopped' : stopped }">
                0
            </div>
            <span>Dollars per hr</span>
        </div>
    </div>

    <div class="row">

        <img data-ng-show="meetingStarted" data-ng-class="{'stopped' : stopped }"  class="time-icon" src="/images/ic_clock.png" alt="">
        <img data-ng-show="stopped" class="time-icon" src="/images/ic_clock_pause.png" alt="">

        <div class="time-wrapper" data-ng-show="meetingStarted">
            <div id="elapsed-time" data-ng-class="{'stopped' : stopped }">00:00:00</div>
            <span>Elapsed Time</span>
        </div>

        <form data-ng-hide="meetingStarted" name="rateform" data-ng-submit="addRate(rate)">
            <img class="money-icon" src="/images/ic_money.png" alt="">
            <input type="number" name="rate" id="rate" data-ng-model="rate" placeholder="Enter Participant Rate">
            <button class="add-btn" type="submit" data-ng-class="{'disabled' : rate === undefined || rate === null}" data-ng-disabled="rate === undefined || rate === null">Add</button>
            <span>Per hr</span>
        </form>

        <button class="start-timer" data-ng-hide="meetingStarted" data-ng-click="startMeeting()" data-ng-class="{'disabled' : !entries.length }" data-ng-disabled="!entries.length">Start</button>
        <button class="stop-timer" data-ng-class="{'stopped' : stopped }" data-ng-show="meetingStarted" data-ng-click="stopMeeting();">Stop</button>

        <div class="paused-controls">
            <button class="start-timer-resume" data-ng-show="stopped" data-ng-click="resumeMeeting()">Resume</button>
            <button class="reset-timer" data-ng-show="stopped" data-ng-click="resetMeeting()">Reset</button>
        </div>
    </div>
</div>